<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>

    <title>Home</title>
    <!-- Bootstrap core css -->
    <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="../../static/css/mdb.css" th:href="@{/css/mdb.css}" rel="stylesheet"/>
    <!-- Your custom styles (optional) -->
    <link href="../../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>

    <th:block th:replace="fragments/header :: my-header('Register')" />

    <style>
        div .imagec {

            display: flex;
            justify-content: center;
            margin: 10px;
            padding: 10px;
        }

        div .imaged {
            display: flex;
            justify-content: center;
            margin: 10px;
            padding: 10px;
        }

        div .imagec2 {
            display: flex;
            justify-content: center;
            margin: 10px;
            padding: 10px;
        }

        html {
            scroll-behavior: smooth;
        }

        .flex-item {
            float: none;
        }


        .view {
            background-color: #F1F3F4;

            text-align: center;
        }

        .flex-item {
            margin-top: 10%;
            box-sizing: border-box;

            background-color: white;
            display: inline-block;
            width: 20%;
            height: 65%;
        }

        .flex-item + .flex-item {
            margin-top: 10%;
            margin-left: 5%;
        }

    </style>


</head>
<body>

<th:block th:replace="fragments/navbar :: top-nav"/>


<div class="view full-page-intro"
     style="background-image: url('https://images.all-free-download.com/images/graphiclarge/blue_3d_geometric_abstract_background_6815669.jpg'); background-repeat: no-repeat; background-size: cover;">


    <!--    <div class="view full-page-intro"-->
    <!--         style="background-color:#1D63DC;-->

    <!--">-->


    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

        <!-- Content -->
        <div class="container">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-6 mb-4 white-text text-center text-md-left">

                    <h1 class="display-4 font-weight-bold">Coder</h1>
                    <h1 class="display-4 font-weight-bold">Collective</h1>


                    <hr class="hr-light"/>

                    <p>
                        <strong></strong>
                    </p>

                    <h4 class="mb-4 d-none d-md-block text-warning">
                        <strong>Connect, Discover, Contribute.</strong>
                    </h4>

                    <input type="button" value="Learn More" class="btn btn-white btn-lg"
                           onclick="document.getElementById('middle').scrollIntoView();"/>
                    <form th:method="Get" th:action="@{/forums}">
                    <input type="submit" value="Browse   " class="btn btn-deep-orange btn-lg" style="width:176px;"/>
                        <!--                        <i class="fas fa-graduation-cap ml-2"></i>-->
                    </form>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-xl-5 mb-4">

                    <!--Card-->
                    <div sec:authorize="!isAuthenticated()" class="card">

                        <!--Card content-->
                        <div class="card-body">


                            <!-- Form -->
                            <form th:action="@{/register}" id="signUpForm" method="post" th:object="${user}">
                                <!-- Heading -->
                                <h4 class="dark-grey-text text-center">
                                    <strong>Sign Up</strong>
                                </h4>
                                <div th:if="${param.error}" >
                                    Invalid Username or Email.
                                    <script>
                                        window.addEventListener('DOMContentLoaded', (event) => {
                                            let auth2 = gapi.auth2.getAuthInstance();
                                            auth2.disconnect();
                                            auth2.signOut().then(function () {
                                                console.log('User signed out.');
                                            });
                                        });
                                    </script>
                                </div>
                                <hr/>
                                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                                <hr/>
                                <div class="md-form">

                                    <input type="text" class="form-control" id="email" placeholder="Email"
                                           th:field="*{email}"/>
                                </div>
                                <div class="md-form">

                                    <input type="text" class="form-control" id="username" placeholder="Username"
                                           th:field="*{username}"/>
                                </div>
                                <!--                                <div class="md-form">-->
                                <!--                                    <input type="text" class="form-control" id="firstname" placeholder="Firstname"-->
                                <!--                                           th:field="*{firstname}"/>-->
                                <!--                                </div>-->
                                <!--                                <div class="md-form">-->

                                <!--                                    <input type="text" class="form-control" id="lastname" placeholder="Lastname"-->
                                <!--                                           th:field="*{lastname}"/>-->
                                <!--                                </div>-->
                                <div class="md-form">

                                    <input class="form-control" type="text" id="title" placeholder="Job Title"
                                           th:field="*{title}"/>
                                    <input class="form-control" type="hidden" id="photo" th:field="*{photo}"/>
                                </div>
                                <div class="md-form">

                                    <input class="form-control" type="password" id="password" placeholder="Password"
                                           th:field="*{password}"/>
                                </div>

                                <!--                                <div class="md-form">-->
                                <!--                                    <label for="photo"></label>-->
                                <!--                                    <input th:field="*{photo}" class="form-control" type="text" id="photo" value=""/><input type="submit"/>-->

                                <!--                                </div>-->


                                <div class="text-center">
                                    <button class="btn btn-indigo">Send</button>
                                </div>

                            </form>
                            <div th:if="${param.error}">
                                <script>

                                    var auth2 = gapi.auth2.getAuthInstance();
                                    auth2.signOut().then(function () {
                                    });
                                    auth2.disconnect();

                                </script>

                            </div>
                            <!-- Form -->

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
        <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

</div>

<div id="middle" class="view full-page-intro">






    <div class="flex-item shadow rounded">
        <div class="imagec">
            <img th:src="@{image/connect.png}" height="80" width="80"/>
        </div>
        <h3>Connect</h3>
        <br/>
        <p>Interact and have discussions with others</p>
    </div>

    <div class="flex-item shadow rounded">
        <div class="imaged">
            <img th:src="@{image/undraw_treasure_of9i.png}" height="80" width="80"/>
        </div>
        <h3>Discover</h3>
        <br/>
        <p>Search popular resources and tools others use. </p>
     </div>

    <div class="flex-item shadow rounded">
        <div class="imagec2">
            <img th:src="@{image/undraw_developer_activity_bv83.png}" height="80" width="80"/>
        </div>
    <h3>Contribute</h3>
    <br/>
    <p>Post information to help other developers. </p>
    </div>
</div>


<script>
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        let profile = googleUser.getBasicProfile();
        let firstName = profile.getName().split(' ').slice(0, -1).join(' ');
        let lastName = profile.getName().split(' ').slice(-1).join(' ');
        var username = profile.getEmail().substring(0, profile.getEmail().lastIndexOf("@"));
        var id_token = googleUser.getAuthResponse().id_token;

        document.getElementById("email").value = profile.getEmail();
        document.getElementById("username").value = username;
        document.getElementById("photo").value = profile.getImageUrl();
        document.getElementById("password").value = id_token;
        document.getElementById("title").value = "New Member";
        // user: email, username, first last title photo
        document.getElementById("signUpForm").submit();
    }

    function signOut() {
        let auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

</script>
<script type="text/javascript" src="../../static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
<!--<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">-->
<!--</th:block>-->
<th:block th:replace="fragments/footer"/>

</body>

</html>
