<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Forums')">
    </th:block>
</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav" />

<h1 th:text="${forum.name}"></h1>

<div th:each="post : ${posts}">
    <h1 th:text="${post.title}"></h1>
    <p th:Text="${post.owner.username}"></p>
    <p th:Text="${post.createdAt}"></p>
    <a th:href="@{/posts/{postId}(postId = ${post.id})}">View Post</a>
</div>

<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
</th:block>
</body>
</html>