<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/header :: my-header('Posts')">
    </th:block>
</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav" />

<div class="container">
    <div class="card">
        <div class="card-header" th:text="${post.title}">
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p th:text="${post.body}"></p>
                <footer class="blockquote-footer" th:text="${post.owner.username}">username</footer>
                <footer class="blockquote-footer" th:text="${post.owner.title}"></footer>
                <footer class="blockquote-footer" th:text="${post.createdAt}"></footer>
            </blockquote>
        </div>
    </div>
</div>

<!--<h1 th:text="${post.title}"></h1>-->
<!--<p th:text="${post.body}"></p>-->
<!--<p th:text="${post.owner.username}"></p>-->
<!--<p th:text="${post.createdAt}"></p>-->



<div sec:authorize="isAuthenticated()" class="container">
    <h1>Create Comment</h1>
    <form th:action="@{/posts/comment}" method="post" th:object="${comment}">
        <input type="hidden" name="post.id" th:value="${post.id}"/>
        <textarea name="comment" th:field="*{body}"></textarea>
        <div class="md-form">

            <input class="form-control" placeholder="Upload Image" th:field="*{photo}" type="text" id="photo" value=""/>
            <button type="button" id="open">Open Picker</button>

        </div>
        <button type="submit">Add Comment</button>
    </form>
</div>


<h1>Comments!</h1>






<div th:each="comment : ${comments}">
    <p th:text="${comment.user.username}"></p>
    <p th:text="${comment.body}"></p>
    <div sec:authorize="isAuthenticated()">
        <div th:if="${#authentication.principal.id} == ${comment.user.id}" class="field is-grouped">
            <form th:action="@{'/comment/' + ${comment.id} + '/edit'}" th:method="get" th:object="${comment}">
                <button class="btn btn-warning">Edit</button>
            </form>

            <form th:action="@{'/comment/' + ${comment.id} + '/delete'}" th:method="post" th:object="${comment}">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>


    <div th:text="${comment.ratingTota()}">




    </div>
   <div sec:authorize="isAuthenticated()">
       <form th:action="@{'/comment/rate'}" th:method="post" th:object="${rating}">
           <input type="hidden" name="vote" th:value="1"/>
           <input type="hidden" name="comment.id" th:value="${comment.id}"/>
           <button class="btn btn-success">Up</button>
       </form>
       <form th:action="@{'/comment/rate'}" th:method="post" th:object="${rating}">
           <input type="hidden" name="vote" th:value="0"/>
           <input type="hidden" name="comment.id" th:value="${comment.id}"/>
           <button class="btn btn-danger">Down</button>
       </form>
   </div>

</div>



<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
</th:block>
</body>
</html>