<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<footer class="footer row" th:fragment="footer">

    <script type="text/javascript">
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
            document.getElementById("mySidenav").style.height = "500px";
            // document.getElementById("main").style.marginLeft = "30%";
            document.getElementById("editorContainer").style.width = "100%";
            document.getElementById("editorContainer").style.height = "20%";
            document.getElementById("editor").style.width = "100%";
            document.getElementById("editor").style.height = "500px";
            document.getElementById("editor").style.position = "absolute";

            // var editor = ace.edit("editor");
            // editor.setTheme("ace/theme/monokai");
            // editor.session.setMode("ace/mode/javascript");
            var aceEditor = ace.edit("editor", {
                autoScrollEditorIntoView: false,
            });
            aceEditor.setOptions({
                fontFamily: "tahoma",
                fontSize: "1.2rem"
            });
            $('#mode').on('change', function () {
                console.log("Changed registered");
                var newMode = $("#mode").val();
                if (newMode === "") {
                    newMode = "Javascript"
                }
                aceEditor.session.setMode("ace/mode/" + newMode);
                console.log("ace/mode/" + newMode);

            });


            /*
                        var cursorLeft = editor.renderer.$cursorLayer.getPixelPosition(0).left;
            //gets distance between cursor and left side of textarea in pixels
                        var scrollerWidth = editor.renderer.$size.scrollerWidth;
            //gets the width of the text area (that can be seen)
                        aceEditor.renderer.scrollToX(cursorLeft - scrollerWidth/2);
            //moves the scroller so that the left side i at the same point as the cursor minus half the width of the area that can be seen
                        aceEditor.setShowPrintMargin(false);
            */


            // defines the style of the editor
            aceEditor.setTheme("ace/theme/Dreamweaver");
            // hides line numbers (widens the area occupied by error and warning messages)
            // aceEditor.renderer.setOption("showLineNumbers", false);
            // ensures proper autocomplete, validation and highlighting of JavaScript code
            aceEditor.getSession().setMode("ace/mode/javascript");
            aceEditor.resize();

            // document.getElementsByClassName("ace_text-layer").style.width = "50%";
            // document.getElementsByClassName("ace_line").style.width = "50%";
            // document.getElementsByClassName("ace_line").style.minWidth = "200px";
            // aceEditor.resize();

        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("mySidenav").style.height = "0";
            document.getElementById("main").style.marginLeft = "0";
        }


        function signOut() {
            let auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');

            })
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


</footer>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--<body>-->
<!--<footer class="footer row" th:fragment="footer">-->

<!--    <script type="text/javascript">-->
<!--        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */-->
<!--        function openNav() {-->
<!--            document.getElementById("mySidenav").style.width = "50%";-->
<!--            document.getElementById("main").style.marginLeft = "0%";-->
<!--            // document.getElementById("editorContainer").style.width = "50%";-->
<!--            // document.getElementById("editorContainer").style.height = "100%";-->
<!--            document.getElementById("editor").style.width = "80%";-->
<!--            document.getElementById("editor").style.height = "100%";-->
<!--            document.getElementById("editor").style.position = "absolute";-->
<!--            // document.getElementsByClassName("ace_scroller").setAttribute("style", "margin-left: 45px");-->

<!--            // var editor = ace.edit("editor");-->
<!--            // editor.setTheme("ace/theme/monokai");-->
<!--            // editor.session.setMode("ace/mode/javascript");-->
<!--            var aceEditor = ace.edit("editor", {-->
<!--                // autoScrollEditorIntoView: false,-->
<!--            });-->

<!--            // defines the style of the editor-->
<!--            aceEditor.setTheme("ace/theme/monokai");-->
<!--            // hides line numbers (widens the area occupied by error and warning messages)-->
<!--            // aceEditor.renderer.setOption("showLineNumbers", false);-->
<!--            // ensures proper autocomplete, validation and highlighting of JavaScript code-->
<!--            aceEditor.getSession().setMode("ace/mode/javascript");-->
<!--            // aceEditor.resize();-->

<!--            // document.getElementsByClassName("ace_text-layer").style.width = "30%";-->
<!--            // document.getElementsByClassName("ace_line").style.width = "50%";-->
<!--            // document.getElementsByClassName("ace_line").style.minWidth = "200px";-->
<!--            aceEditor.resize();-->

<!--        }-->

<!--        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */-->
<!--        function closeNav() {-->
<!--            document.getElementById("mySidenav").style.width = "0";-->
<!--            document.getElementById("main").style.marginLeft = "0";-->
<!--        }-->
<!--    </script>-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--            crossorigin="anonymous"></script>-->
<!--    &lt;!&ndash; Popper.JS &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"-->
<!--            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"-->
<!--            crossorigin="anonymous"></script>-->
<!--    &lt;!&ndash; Bootstrap JS &ndash;&gt;-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"-->
<!--            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"-->
<!--            crossorigin="anonymous"></script>-->
<!--    &lt;!&ndash; jQuery Custom Scroller CDN &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>-->


<!--</footer>-->
<!--</body>-->
<!--</html>-->

