<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="my-header(title)">
    <link rel="shortcut icon" type="image/png"  th:src="@{flavicon.png}"/>
    <meta charset="UTF-8" />
    <meta name="google-signin-client_id" content="772446032988-lngdrhm681gigpfn5j3f36eon1a7nclq.apps.googleusercontent.com"/>
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>



    <meta name="google-signin-scope" content="profile email"/>
    <meta name="google-signin-client_id" content="772446032988-lngdrhm681gigpfn5j3f36eon1a7nclq.apps.googleusercontent.com"/>
    <title th:text="${title}"></title>
    <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
    <script type="text/javascript" th:src="@{/public/main.js}" src=""></script>
    <script type="text/javascript" th:src="@{/public/FSKey.js}" src=""></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"/>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.5/ace.js"
            integrity="sha256-5Xkhn3k/1rbXB+Q/DX/2RuAtaB4dRRyQvMs83prFjpM=" crossorigin="anonymous"></script>
    <script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"/>
    <link href="../../static/css/sidebar.css" th:href="@{/css/sidebar.css}" rel="stylesheet"/>

    <style type="text/css" media="screen">
        #editor {
            /*margin: 0;*/
            /*margin-top: 10%;*/
            /*position: fixed;*/
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;
        }

    </style>

</th:block>
</html>