<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/header :: my-header('Posts')">
    </th:block>
</head>
<body>
<nav class="main-nav" th:fragment="top-nav">

    <nav class="fader navbar navbar-expand-lg navbar-light navbar-fixed">
        <a class="navbar-brand" href="/">Coder Collective</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/forums">Forums<span class="sr-only" sec:authorize="isAuthenticated()">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Profile<span class="sr-only" sec:authorize="isAuthenticated()">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/posts/create" sec:authorize="isAuthenticated()">Create</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register" sec:authorize="!isAuthenticated()">Register</a>
                </li>
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <a class="nav-link">Logout</a>
                    </form>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:action="@{/logout}" href="/logout" sec:authorize="isAuthenticated()" th:method="post">Logout</a>-->
<!--                </li>-->
                <!--                <li class="nav-item dropdown">-->
                <!--                    <form  sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">-->
                <!--                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
                <!--                    </form>-->
                <!--                </li>-->
            </ul>
        </div>
    </nav>
</nav>


<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
</th:block>
</body>
</html>