<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>


    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" th:fragment="top-nav">
        <div class="container">
<!--Brand / Logo-->
        <a class="navbar-brand" href="/" target="_blank">
            <strong>Coder-Collective</strong>
        </a>
<!--            Collapse-->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


<!--            Links-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

<!--                Left-->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/forums" >Forums<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/profile" >Profile<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/login" >Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/posts/create" >Create</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/register" >Register</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post">
                            <a class="nav-link">Logout</a>
                        </form>
                    </li>
                    <li class="nav-item active" sec:authorize="isAuthenticated()">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search" aria-label="Search"/>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>

        </div>
    </nav>



</body>
</html>
