<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/header">
    </th:block>
    <style type="text/css">
        #editor {
            /*margin: 0;*/
            /*margin-top: 10%;*/
            /*position: fixed;*/
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            min-height: 200px;
        }

        .ace_content {
            margin-left: 30px !important;
            /*transform: none;*/

        }

    </style>


</head>
<body>


<nav th:fragment="sidebar">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn toggler" onclick="closeNav()">&times;</a>
        <div id="editorContainer">
            <div id="editor" class="ace_editor" style="top: 10%; right: 0;">function foo(items) {
var x = "All this is syntax highlighted";
return x;
}</div>
        </div>
    </div>

    <!-- Use any element to open the sidenav -->
    <button onclick="openNav()">open</button>

</nav>
<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
</th:block>
<th:block th:replace="fragments/footer">
</th:block>

</body>
</html>
