<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/header">
    </th:block>
    <style type="text/css">
        #editor {
            /*margin: 0;*/
            /*margin-top: 10%;*/
            /*position: fixed;*/
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            min-height: 200px;
        }

        .ace_content {
            margin-left: 30px !important;
            width: 100%;
            /*transform: none;*/

        }

    </style>


</head>
<body>
<nav th:fragment="sidebar" class="align-content-center">
<!--    <button style="margin-top: 20%; z-index: 1; position: fixed; width: 7%; font-size: .75rem" type="button"-->
<!--            onclick="openNav()" class="btn btn-secondary fixed-left" data-toggle="modal"-->
<!--            data-target=".bd-example-modal-xl">Open Editor-->
<!--    </button>-->
    <button style="font-size: 1rem; background-color: orange!important; color: black;" type="button"
            onclick="openNav()" class="btn btn-secondary btn-block mx-auto" data-toggle="modal"
            data-target=".bd-example-modal-xl">Open Editor
    </button>
    <input class="form-control text-center" type="text" id="mode" placeholder="Enter Editor Language"/>

    <div class="btn-group-vertical">
        <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" style="width: 100%;">
                <div class="modal-content" id="editorContainer" style="height: 600px; width: 100%">
                    <div id="mySidenav" class="sidenav">
                        <!--        <a href="javascript:void(0)" class="closebtn toggler" onclick="closeNav()">&times;</a>-->
                        <div id="editor" class="ace_editor" style="top: 10%; right: 0;">function title(items) {
var x = "This is a Javascript function.";
return x;
}</div>
                    </div>
                    <h3 style="text-align: center; color: black">Click Outside to Close</h3>

                </div>
            </div>
        </div>
    </div>

    <!-- Use any element to open the sidenav -->
    <!--    <button onclick="openNav()">open</button>-->

</nav>
<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
</th:block>
<th:block th:replace="fragments/footer">
</th:block>

</body>
</html>
