<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <style>
        #horizontal{
            display: flex;
        }

    </style>
</head>
<body>
<footer id="footer" th:fragment="the-foot">
    <div class="view full-page-intro mask"
         style="background-color:#FDBB24; background-repeat: no-repeat; background-size: cover; max-height: 10%!important; height: 10%">
        <div class="table" style="display: table">
        <ul id="horizontal" style="list-style-type: none; display: flex; justify-content: center">
            <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/">Home
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.facebook.com/Cody-Coll-107086154032061/" class="nav-link" target="_blank">
                    <i style="color: black;" class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="nav-item">
                <a style="color: black;" href="https://github.com/CoderCollective-con-pen-ort-gon/CoderCollective" class="nav-link" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://twitter.com/CoderCollectiv1" class="nav-link" target="_blank">
                    <i style="color: black;" class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/aboutus">About Us
                </a>
            </li>
        </ul>
        </div>
    </div>
</footer>

</body>
</html>