
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap core css -->
    <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="../../static/css/mdb.css" th:href="@{/css/mdb.css}" rel="stylesheet"/>
    <!-- Your custom styles (optional) -->
    <link href="../../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>

    <style>
        .headshot{
            object-fit: cover;
            width:100%;
        }

        .mTop{
            margin-top: 10%;
        }


    </style>

</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"/>

<div class="view full-page-intro"
     style="background-image: url('https://images.all-free-download.com/images/graphiclarge/blue_3d_geometric_abstract_background_6815669.jpg'); background-repeat: no-repeat; background-size: cover;">
    <h1 style="color: white!important; text-align: center; margin-top: 8%">About Us</h1>
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

<div class="container-fluid">
    <div class="row">





        <div class="imagec  mTop col-12 col-sm-12 col-md-10 col-lg-3">

            <h3 style="text-align: center; color: white">Joseph Ortega</h3>
            <img class="headshot" th:src="@{headshots/joseph.jpeg}" />
            <div style="justify-content: center; display: flex">
                <div class="row" style="margin-top: 3%">
            <a style="color: white; font-size: 40px" href="https://github.com/JosephSOrtega" class="nav-link" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a style="color: white; font-size: 40px" href="https://www.linkedin.com/in/josephsortega/" class="nav-link" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a style="color: white; font-size: 20px" href="https://alumni.codeup.com/students/687" class="nav-link" target="_blank">
                <img th:src="@{/headshots/logo.png}" style="margin-top:18px;" height="25" width="25" />
            </a>
        </div>
        </div>
        </div>

        <br/>




        <div class="imaged mTop  col-12 col-sm-12 col-md-10 col-lg-3">
            <h3 style="text-align: center; color: white">Alexandra Contreras</h3>
            <img class="headshot" th:src="@{headshots/alex.jpeg}" />
            <div style="justify-content: center; display: flex">
                <div class="row" style="margin-top: 3%">
            <a style="color: white; font-size: 40px" href="https://github.com/alexchris0309" class="nav-link" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a style="color: white; font-size: 40px" href="https://www.linkedin.com/in/alexchris99/" class="nav-link" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a style="color: white; font-size: 20px" href="https://alumni.codeup.com/students/690" class="nav-link" id="logo" target="_blank">
                <img th:src="@{/headshots/logo.png}" style="margin-top:18px;" height="25" width="25" />
            </a>

            </div>
        </div>
        </div>

        <br/>




        <div class="imagec2 mTop col-12 col-sm-12 col-md-10 col-lg-3">
            <h3 style="text-align: center; color: white">Victor Pena</h3>
            <img class="headshot" th:src="@{headshots/victor.jpeg}" />
            <div style="justify-content: center; display: flex">
                <div class="row" style="margin-top: 3%">
            <a style="color: white; font-size: 40px" href="https://github.com/victorpena13" class="nav-link" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a style="color: white; font-size: 40px" href="https://www.linkedin.com/in/victor-pena13/" class="nav-link" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>

            <a style="color: white; font-size: 20px" href="https://alumni.codeup.com/students/683" class="nav-link" target="_blank">
                <img th:src="@{/headshots/logo.png}" style="margin-top:18px;" height="25" width="25" />
            </a>
            </div>
        </div>
        </div>

        <br/>




        <div class="imagec3 mTop col-12 col-sm-12 col-md-10 col-lg-3">
            <h3 style="text-align: center; color: white">Jose Gonzalez</h3>
            <img class="headshot" th:src="@{headshots/joey.jpeg}" />
            <div style="justify-content: center; display: flex">
                <div class="row" style="margin-top: 3%">
            <a style="color: white; font-size: 40px" href="https://github.com/josegonzalez6227" class="nav-link" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a style="color: white; font-size: 40px" href="https://www.linkedin.com/in/josegonzalez21/" class="nav-link" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a style="color: white; font-size: 40px" href="https://alumni.codeup.com/students/692" class="nav-link" target="_blank">
                <img th:src="@{/headshots/logo.png}" style="margin-top:18px;" height="25" width="25" />
            </a>
            </div>
        </div>
</div>
    </div>
        <br/>

    </div>
    </div>
</div>



<script type="text/javascript" src="../../static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
<th:block th:replace="fragments/footer">
</th:block>
</body>
</html>