<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Edit Profile')">
    </th:block>
</head>
<body>
<form th:action=" @{'/profile/' + ${user.id} + '/edit'}" method="post" th:object="${user}">
    <input class="form-control" name="title" th:field="*{username}"  type="text" placeholder="Username"/>
    <input type="text" class="form-control" name="email" th:field="*{email}" placeholder="Email"/>
    <input type="text" class="form-control" name="firstname" th:field="*{firstname}" placeholder="First Name"/>
    <input type="text" class="form-control" name="lastname" th:field="*{lastname}" placeholder="Last Name"/>
    <input type="text" class="form-control" name="title" th:field="*{title}" placeholder="Title"/>
    <div class="md-form">

        <input class="form-control" placeholder="Profile Picture" th:field="*{photo}" type="text"
               id="photo" value=""/>
        <button type="button" id="open">Open Picker</button>

    </div>
    <input type="hidden"  name="password" th:field="*{password}" />

    <button type="submit" class="btn btn-primary">Submit Edit</button>

</form>
<script>
    const openBtn = document.getElementById('open');
    const options = {
        onUploadDone: (res) =>
            document.getElementById("photo").value = res.filesUploaded[0].url,
    };
    console.log(50);
    const client = filestack.init(FSKey);

    openBtn.addEventListener("click", function () {
        client.picker(options).open()


    });
</script>

    });
</script>
<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
</th:block>
</body>
</html>