<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Edit Profile')">
    </th:block>
</head>
<body>
<form th:action ="@{'/profile/'+ ${user.id} +'/edit'}" th:method="POST" th:object="${user}">
    <input type="text"  name="username" th:field="*{username}" />
    <input type="text"  name="email" th:field="*{email}" />
    <input type="text"  name="firstname" th:field="*{firstname}" />
    <input type="text"  name="lastname" th:field="*{lastname}" />
    <input type="text"  name="title" th:field="*{title}" />
    <input type="hidden"  name="password" th:field="*{password}" />

    <button>Edit</button>
</form>


<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
</th:block>
</body>
</html>