<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap core css -->
    <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="../../static/css/mdb.css" th:href="@{/css/mdb.css}" rel="stylesheet"/>
    <!-- Your custom styles (optional) -->
    <link href="../../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
    <th:block th:replace="fragments/header :: my-header('Sign-In')">
    </th:block>
    <meta name="google-signin-client_id"
          content="772446032988-lngdrhm681gigpfn5j3f36eon1a7nclq.apps.googleusercontent.com"/>


    <meta name="google-signin-scope" content="profile email"/>
    <meta name="google-signin-client_id"
          content="772446032988-lngdrhm681gigpfn5j3f36eon1a7nclq.apps.googleusercontent.com"/>
    <style>
        div .container1 {
            margin-top: 80px;
            width: 80%
        }

        @media (min-width: 1200px) {
            /* This part is only read by viewports wider than 1200 pixels */
            div .container1 {
                margin-top: 80px;
                width: 40%;
            }
        }

        @media (max-width: 768px) {
            /* This part is only read by viewports wider than 1200 pixels */
            div .container1 {
                margin-top: 80px;
                width: 80%;
            }
        }

        @media (min-width: 960px) {
            /* This part is only read by viewports wider than 1200 pixels */
            div .container1 {
                margin-top: 80px;
                width: 40%;
            }
        }
    </style>
</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"/>
<div class="view full-page-intro"
     style="background-image: url('/picture/blue.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="mask rgba-black-light d-flex justify-content-center">
        <div th:if="${param.error}" >
            Invalid Username and Password.
            <script>
                function signOut() {
                    gapi.auth2.init();
                    let auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                        console.log('User signed out.');
                    })
                }
            </script>

        </div>
        <div th:if="${param.logout}">
            You have been logged out.

        </div>

        <div class="container1">
            <div class="card">
                <div class="card-body">
                    <h3 class="dark-grey-text text-center">
                        <strong>Sign In</strong>
                    </h3>
                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

                    <!--                    <form id="logOut" th:action="@{/logout}" th:method="post">-->
                    <!--                        <button th:onclick="${'javascript:signOut()'}" type="submit" class="g-signout"-->
                    <!--                                data-theme="dark">Sign out-->
                    <!--                        </button>-->
                    <!--                    </form>-->

                    <form th:action="@{/login}" id="loginForm" method="post">
                        <div class="md-form">
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Username"/>
                        </div>
                        <div class="md-form">

                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <div th:if="${param.logout}">
                        <script>

                            var auth2 = gapi.auth2.getAuthInstance();
                            auth2.signOut().then(function () {
                            });
                            auth2.disconnect();

                        </script>

                    </div>

                    <script>

                        function onSignIn(googleUser) {
                            // Useful data for your client-side scripts:
                            let profile = googleUser.getBasicProfile();
                            var username = profile.getEmail().substring(0, profile.getEmail().lastIndexOf("@"));
                            var id_token = googleUser.getAuthResponse().id_token;

                            document.getElementById("username").value = username;
                            document.getElementById("password").value = id_token;
                            document.getElementById("loginForm").submit();
                        }

                        function signOut() {
                            gapi.auth2.init();
                            let auth2 = gapi.auth2.getAuthInstance();
                            auth2.signOut().then(function () {
                                console.log('User signed out.');
                            })
                        }
                    </script>

                    <th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://apis.google.com/js/platform.js?onload=onLoad"></script>
<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript" src="../../static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
</body>
</html>