<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Profile')">
    </th:block>


    <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="../../static/css/mdb.css" th:href="@{/css/mdb.css}" rel="stylesheet"/>
    <!-- Your custom styles (optional) -->
    <link href="../../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{'/css/profile.css'}"/>
    <meta name="google-signin-client_id"
          content="772446032988-lngdrhm681gigpfn5j3f36eon1a7nclq.apps.googleusercontent.com"/>


    <meta name="google-signin-scope" content="profile email"/>
    <meta name="google-signin-client_id"
          content="772446032988-lngdrhm681gigpfn5j3f36eon1a7nclq.apps.googleusercontent.com"/>

    <th:block th:replace="fragments/header :: my-header('Profile')">
    </th:block>
    <style>
        #marginTop {
            margin-top: 75px;
        }
        #removeFav, #titleFav, .dropdown-toggle, .card-body, .list-group-item {
            text-align: left;
            padding: 0px;
            margin: 0px;
        }
        .container {
            background:#F1F3F4;
        }
    </style>

</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav" />

<div id="marginTop"></div>
<div class="container body">
    <div class="container headerInfo">
        <div class="row">
            <div class="col-lg-12">
                <h5 th:text="'Hello, ' + ${user.username} + '!'"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-2">
                <img th:if="${user.photo != null }" th:src= "${user.photo}" class="img-thumbnail"/>
                <img th:if="${user.photo == null }" th:src= "@{image/usericon.png}" class="img-thumbnail"/>
                <br/>
            </div>
            <div class="col-lg-6">
                <h6>Personal Data:</h6>
                <div th:text="'Email: ' + ${user.email}"></div>
                <div th:text="'Title: ' + ${user.title}"></div>
                <a th:href="@{'/profile/'+ ${user.id} +'/edit'}">Edit Profile</a>
                <br/>
            </div>
            <div class="col">
                <h6>Activity:</h6>
                <div th:text="'Posts: ' + ${user.post.size()}"></div>
                <div th:text="'Comments: ' + ${user.comments.size()}"></div>
                <div th:text="'Favorites: ' + ${user.favoritepost.size()}"></div>
            </div>
            <div class="col">
                <h3 class="text-center">Contributions:</h3>
                <h1 class="text-center" th:text="${user.post.size() + user.comments.size() + user.favoritepost.size()}"></h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br/>
    <hr/>
    <h1 class="text-center">Your Posts!</h1>
    <div class="container">
        <div class="row">
            <div class="card col-2 col-sm-2 col-md-2 shadow-none d-flex" style="width: 18rem;" th:each="post : ${userPosts}">
                <img class="row justify-content-center" th:src= "@{'/pics/' +${post.getForums().getName()} +'.png'}" style="height:12rem;"/>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <br/>
                            <label for="title">Title:</label>
                            <br/>
                            <a th:href="@{/posts/{postId}(postId = ${post.id})}" id="title" th:text="${post.title}"></a>
                        </li>
                        <li class="list-group-item">
                            <form th:action="@{'/post/' + ${post.id} + '/edit'}" th:method="get" th:object="${post}">
                                <button class="btn btn-link btn-sm">Edit Post</button>
                            </form>
                            <form th:action="@{'/' + ${post.id} + '/delete'}" method="post">
                                <button class="btn btn-link btn-sm" type="submit">Delete Post</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <h1 class="text-center">Favorites!</h1>

    <div class="container">
        <div class="row">
            <div class="card col-2 col-sm-2 col-md-2 border-0 shadow-none d-flex" style="width: 18rem;" th:each="post : ${favPosts}">
                <img class="row justify-content-center" th:src= "@{'/pics/' +${post.getForums().getName()} +'.png'}" style="height:12rem;"/>
                <div class="card-body text-left">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <br/>
                            <label for="titleFav">Title:</label><br/>
                            <a th:href="@{/posts/{postId}(postId = ${post.id})}" id="titleFav" th:text="${post.title}"></a>
                        </li>
                        <li class="list-group-item">
                            <form th:action="@{'/favorite/'+ ${post.id} +'/delete'}"  th:method="post">
                                <button class="btn btn-link btn-sm" id="removeFav">Remove favorite</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
</th:block>
<th:block th:replace="fragments/footer">
</th:block>
<script>

    function signOut() {
        let auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
            // document.getElementById("logOut").submit();

        })
    }
    function onLoad() {
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    }

</script>
<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad"></script>
<script type="text/javascript" src="../../static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
</body>
</html>



