<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Profile')">
    </th:block>
</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav" />

<nav>
    <ul>
        <!-- More links here... -->
        <li>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
    </ul>
</nav>

<h1><span th:text="${user.firstname}"></span> <span th:text="${user.lastname}"></span> </h1>
    <p th:text="${user.email}"></p>
    <p th:text="${user.username}"></p>
    <p th:text="${user.title}"></p>
    <img th:src= "${user.photo}" alt="profile image"/>

<a th:href="@{'/profile/'+ ${user.id} +'/edit'}">Edit Profile</a>


<h3>Create a Post</h3>


<form th:action=" @{/profile/create}" method="post" th:object="${posts}">
    <select class="form-control" name="forum_id" th:field="*{forums.id}" th:value="${forums}">
        <option th:each="forum : ${forums}" name="forum_id" th:value="${forum.id}" th:text="${forum.name}"></option>

    </select>
    <input class="form-control" name="title" th:field="*{title}"  type="text" placeholder="Title"/>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Post body</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body" th:field="*{body}"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<h3>Here are your created post</h3>







<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
</th:block>
</body>
</html>