<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('Register')">
    </th:block>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"/>
-
<h1>Create An Account</h1>

<div class="container">
    <form th:action="@{/register}" id="signUpForm" method="post" th:object="${user}">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">Fill in form</div>
        <div onclick="signOut();" class="g-signin2" data-theme="dark">Sign out</div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" id="email" name="email" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" name="username" th:field="*{username}"/>
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input class="form-control" id="firstname" name="firstname" th:field="*{firstname}"/>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input class="form-control" id="lastname" name="lastname" th:field="*{lastname}"/>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" name="title" th:field="*{title}"/>
        </div>

        <!--Image via FileStack-->
        <div>
            <label for="photo">Photo</label>
            <input th:field="*{photo}" th:type="hidden" id="photo" value=""/>
            <button type="button" id="open">Open Picker</button>

        </div>
        <!---->

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" th:field="*{password}"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<script>

    // gapi.load('auth2', function () {
    //     gapi.auth2.init();
    // });
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        let profile = googleUser.getBasicProfile();
        let firstName = profile.getName().split(' ').slice(0, -1).join(' ');
        let lastName = profile.getName().split(' ').slice(-1).join(' ');
        var username   = profile.getEmail().substring(0, profile.getEmail().lastIndexOf("@"));
        var id_token = googleUser.getAuthResponse().id_token;

        document.getElementById("email").value = profile.getEmail();
        document.getElementById("username").value = username;
        document.getElementById("firstname").value = firstName;
        document.getElementById("lastname").value = lastName;
        document.getElementById("photo").value = profile.getImageUrl();
        document.getElementById("password").value = id_token;
        document.getElementById("title").value = "New Member";
        // user: email, username, first last title photo
        document.getElementById("signUpForm").submit();
    }
    function signOut() {
        let auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

</script>

<!--FileStack JS-->
<script>
    const openBtn = document.getElementById('open');
    const options = {
        onUploadDone: (res) =>
            document.getElementById("photo").value = res.filesUploaded[0].url,
    };
    console.log(50);
    const client = filestack.init(FSKey);

    openBtn.addEventListener("click", function () {
        client.picker(options).open()

    });
</script>


<!--https://developers.google.com/identity/sign-in/web/sign-in#before_you_begin-->


<th:block th:replace="fragments/bootstrapjs :: bootstrap-script">
</th:block>
</body>
</html>